<% include partials/navbar.ejs %>
<h1><%= title %></h1>
<p>esto es un número <%= number %></p>
<p><%= obj.prop %></p>
<p><%= array[0] %></p>
<ul>
<% array.forEach(item => { %>
    <li><%= item %></li>
<% }) %>
</ul>
<% if (isLogged) { %>
    <h2>Welcome <%= name %></h2>
<% } else { %>
    <h2>Logate</h2>
<% } %>